body {
    position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: rgb(0, 0, 0); background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: rgb(0, 0, 0); background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: rgb(0, 0, 0); background-color: #ff9800;}
h1{
    text-align: center;
    color:
}
footer{
background-color: #666;
    color: #ccc;
    text-align: left;
    width: 100%;
    height: 65px;
    position: sticky;
    border-top: 5px solid #4aaaa5;
}