
body {
    position: relative;
    height: auto;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow, blue, purple);
  }
  #section1 {
      padding-top:auto;height:auto;color: rgb(0, 0, 0); background-color: #1E88E5;
    }
  #section2 {
      padding-top:auto;height:auto;color: rgb(0, 0, 0); background-color: #673ab7;
    }
  #section3 {
      padding-top:auto;height:auto;color: rgb(0, 0, 0); background-color: #ff9800;
    }
.img-rounded {
    
}

h1{
    text-align: left;
    font-style: oblique;
}
#foot{
background-color: #666;
    color: #ccc;
    text-align: left;
    width: 100%;
    height: 65px;
    position: sticky;
    border-top: 5px solid #4aaaa5;
    font-size: large;
}
.jumbotron{
    background-color: aqua;
    font-size: xx-large
    font-family: 'Franklin Gothic Medium';
    font-weight: 300;
}
.desc{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: Arial Narrow;
}
.card-body{
    font: 100px;
    font-size: larger;
    font-weight: bolder;
   
}
}